@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<div class="container">
    <div class="row">
        <div class="col col-md-3">  <h1 class="display-4">Bienvenido</h1></div>
        <div class="col col-md-4">  <img src="~/lib/img/home_index.svg" alt="My Happy SVG" /></div>
    </div>



    @*<button class="btn btn-primary">@Html.ActionLink("Ir a ordenes","Index","Ordens", null, new {style ="text-decoration: none; color:white"})</button>
        <button class="btn btn-primary">@Html.ActionLink("Ir a Productos","Index","Productos", null, new {style ="text-decoration: none; color:white"})</button>
        <button class="btn btn-primary">@Html.ActionLink("Gestion Clientes","Index","Clientes", null, new {style ="text-decoration: none; color:white"})</button>*@
</div>
